*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
}
.header h1{
    font-family: pinot-grigio-modern, sans-serif;
    font-weight: 500;
    font-style: normal;
}
.header h4{
    font-family: pinot-grigio-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
}
.gridcontain{
    display: grid;
    width: 100vw;
    height: 100vh;
    height: 1500px;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 25vw;
    column-gap: 10px;
    row-gap: 10px;
    padding: 5%;
}
.item01{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: rgb(150, 150, 150)
}
.link{
    display: block;
    justify-self: center;
    align-self: center;
}
a{
    text-decoration: none;
    color: white;
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 200;
}