*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
}
html::-webkit-scrollbar {
    display: none;
}
.header{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 50px;
    padding: 1%;
}
.logo{
    display: flex;
    width: 500px;
    height:100%;
}
.logo h3{
    font-weight: 400;
    font-size: 25px;
}

#label{
    padding-left: 2%;
}
#label h6{
    color: rgb(105, 165, 255);
    font-weight: 200;
    font-size: 14px;
}
nav{
    flex: 1;
    text-align: right;
    width: 400px;
    font-weight: 700;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left:30px;

}
nav ul li a{
    text-decoration: none;
    color: black;
}
.filter{
    flex: 1;
    text-align: center;
    width: 100vw;
    height: 20px;
    padding: 40px;
}
.filter p{
    list-style: none;
    display: inline-block;
    margin-left:20px;
    cursor: pointer;
}
.scroll{
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100%;
    transition: transform 1.5s ease;
    /* animation: iconslide01 4s ease forwards paused; */
}
.icon{
    display: flex;
    flex-wrap: nowrap;
    width: 266.66vw;
    text-align: center;
    justify-content: space-between;
    padding: 50px;
}
.projicon{
    width: 33.33vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.projicon img{
    object-fit: contain;
    cursor: pointer;
}

.text{
    position: absolute;
    text-align: center;
    width: 33.33%;
    color: rgb(105, 165, 255);
    font-size: 30px;
    pointer-events: none;
}

#plani{
    display: none;
}

#tri{
    display:none;
}

#geoid{
    display:none;
}
#browns{
    display:none;
}
#urban{
    display:none;
}
#tech{
    display:none;
}
#plexi{
    display:none;
}
#rising{
    display:none;
}
span{
    font-size: 20px;
}

/* @keyframes iconslide01{
    0%{
        transform:translateX(0);
}
    50%{
        transform:translateX(-100vw)
    }
    100%{
        transform:translateX(-200vw)
    }
} */
.flick{
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.tria{
    width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-right: 25px solid rgb(105, 165, 255);
	border-bottom: 12.5px solid transparent;
    cursor: pointer;
}
.trib{
    width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-left: 25px solid rgb(105, 165, 255);
	border-bottom: 12.5px solid transparent;
    cursor: pointer;
}
.active{
    color: rgb(105, 165, 255);
}
.archactive{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100%;
    justify-content: center;
    background-color: white;
    overflow: hidden;
    display: none;
}
.close{
    position: absolute;
    top:15px;
    right:25px;
    font-size: 25px;
    cursor: pointer;
}
.projimages{
    width:60vw;
    height:100%;
    padding: 50px;
    overflow: scroll;
}    
.projimages::-webkit-scrollbar {
    display: none;
}
.imgs > img{
    width:100%;
    height:auto;
    object-fit: contain;
}
.projtext{
    width:30vw;
    height:100%;
    padding: 50px;
}
#blue{
    color:rgb(105, 165, 255) ;
}
.imgs > p{
    text-align: center;
    padding: 15px;
}
@media screen and (max-width: 768px) {
    .arrow{
        display: none;
    }
    nav{
        display: none;
    }
    .logo{
        transform: scale(.75);
    }
    }