*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#brgr{
    display: none;
}
img{
    width: 25vw;
    height: auto;
    opacity: .15;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.toggle{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    #brgr {
        display: block;
    }
    }
}